// ▬▬▬▬ COLORS ▬▬▬▬
$color-white: #FFFFFF;
$color-red: red;
$color-black: #000;

// ▬▬▬▬ SCREEN RESOLUTION ▬▬▬▬
$mobileS: 420px;
$mobileL: 580px;
$tablet: 1024px;
$desktopS: 1280px;
$desktopL: 1920px;
