// ▬▬▬▬ COLORS ▬▬▬▬
$color-white: #FFFFFF;
$color-black: #000;
$color-gray: #a9a9a9;
$color-gray2: #819097;
$color-gray3: #212121;

// ▬▬▬▬ SCREEN RESOLUTION ▬▬▬▬
$mobile: 420px;
$tablet: 720px;
$desktop: 960px;
