// ▬▬▬▬ VARs ▬▬▬▬

$font-main: 'Akkurat Regular', sans-serif;
$font-main-bold: 'Akkurat Bold', sans-serif;
$font-main-light: 'Akkurat Light', sans-serif;

// ▬▬▬▬ COLORS ▬▬▬▬
$color-white: #FFFFFF;
$color-black: #000;
$color-gray: #a9a9a9;
$color-gray2: #819097;
$color-gray3: #212121;
$color-gray4: #3F3F3F;
$color-gray5: #7e7e7e;


// ▬▬▬▬ SCREEN RESOLUTION ▬▬▬▬
$mobile: 420px;
$tablet: 645px;
$desktop: 960px;
