.burger{
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color:inherit;
  &:focus{
    outline: none;
  }
}
.burger-simple{
  border: 2px solid black;
  .burger-simple__bar{
    display: block;
    width: 80%;
      background: #000;
    position: absolute;
    height: 2px;
    left: 50%;
    transform:translate(-50%, -50%);
    transition: .3s all ease-in-out;
    &--top{
      top: 25%;
    }
    &--mid{
      top: 50%;
    }
    &--bot{
      top: 75%;
    }
  }
}

.burger-simple--hover{
  .burger-simple__bar{
    transform:translate(-50%,-50%);
    &--top{
      top: 35%;
    }
    &--bot{
      top: 65%;
    }
  }
}

.burger-simple--active{
  .burger-simple__bar{
    &--top{
      transform:translate(-50%,-50%)
      rotate(45deg);
      top: 50%;
    }
    &--bot{
      transform:translate(-50%,-50%)
      rotate(-45deg);
      top: 50%;
    }
    &--mid{
      opacity: 0;
    }
  }
}
