.burger{
  position: relative;
  cursor: pointer;
  padding: 0;
  width: 16px;
  height: 10px;
  background-color:transparent;
  &:focus{
    outline: none;
  }
}
.burger-simple{
  border: 0;
  .burger-simple__bar{
    display: block;
    border-radius: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    height: 3px;
    left: 50%;
    transform:translate(-50%, -50%);
    transition: .3s all ease-in-out;
    &--top{
      top: 0%;
    }
    &--mid{
      top: 50%;
    }
    &--bot{
      top: 100%;
    }
  }
}
