/* TAG SETTINGS */
body { @extend %fontmain;}

.navbar {
  &_links {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
    padding-left: 0;
  }
  &_element {
    font-size: 1.4rem;
    @extend %fontmain-bold, %white;
  }
}
.headlines {
  @extend %fontmain-light;
  &_title {
    @extend %white;
    font-size: 4.8rem;
    line-height: 5.2rem;
  }
  &_subtitle {
    font-size: 3.6rem;
    line-height: 3.8rem;
    color: $color-gray;
  }
  &_btn {
    margin-top: 40px;
    @extend %btn1;
    &:first-of-type {
      @extend %btn2;
      margin-right: 5px;
    }
  }
}
.our-process {
  &_title {
    @extend %title-style1, %text-center;
  }
  &_bodytext {
    @extend %fontmain-light, %white, %text-center;
    font-size: 2rem;
    @media screen and (min-width:$desktop){
      font-size: 2.8rem;
    }
  }
}
.product {
  &-description {
    @extend %white;
    &_title {
      @extend %title-style1;
      margin-bottom: 20px;
    }
    &_name-product {
      @extend %title-style2;
      margin-bottom: 10px;
    }
    &_description {
      color: $color-gray;
      font-size: 1.6rem;
      margin-bottom: 40px;
    }
    &_btn-more {
      @extend %btn2;
      margin-bottom: 30px;
    }
  }
}
.whyUs {
  @extend %text-center;
  &_title {
    @extend %title-style1;
    @media screen and (min-width:$desktop){
      margin-bottom: 30px;
    }
  }
  &_subtitle {
    @extend %fontmain-light, %black;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 30px;
    @media screen and (min-width:$desktop){
      font-size: 2.6em;
      margin-bottom: 70px;
    }
  }
  &_reasons {
    @media screen and (min-width:$desktop){
      @include flex($d:row, $w:wrap, $j-c:space-around, $a-i:stretch);
    }
  }
  &-reason {
    &_title {
      @extend %fontmain-bold, %uppercase;
      font-size: 1.4rem;
      margin: 20px 0 10px;
      letter-spacing: 2px;
    }
    &_explanations {
      @extend %fontmain-light;
      font-size: 1.6rem;
      color: $color-gray5;
      margin-bottom: 40px;
    }
    @media screen and (min-width:$desktop){
      width: 30%;
    }
  }
}
.articles {
  .article {
    &_title {
      @extend %title-style2, %white;
      margin-bottom: 10px;
      @media screen and (min-width:$desktop){
        font-size: 4rem;
      }
    }
    &_summary {
      @extend %fontmain-light;
      font-size: 1.6rem;
      color: $color-gray;
      margin-bottom: 30px;
    }
    &_btn-more {
      @extend %btn1;
      margin-bottom: 10px;
    }
  }
}
.cta {
  &_title {
    @extend %title-style2, %white;
    @media screen and (min-width:$desktop){
      font-size: 4rem;
    }
  }
  &_bodytext {
    @extend %fontmain;
    font-size: 2rem;
    margin-bottom: 3.5rem;
    color: $color-gray;
  }
  &_btn {
    @extend %btn1;
    margin-bottom: 20px;
  }
}
.compliments {
  .compliment {
    &_text {
      @extend %fontmain-light, %text-center, %black;
      font-size: 1.6rem;
      margin-bottom: 50px;
    }
  }
}
