/* VAR */
$font-main: 'Akkurat Regular', sans-serif;

/* STYLES to EXTEND */
%title{ @include myfont($font-main, 4.8rem); }
%title-03{ @include myfont($font-main, 1.6rem); @extend %uppercase; }
%subtitle-01{ @include myfont($font-main, 4.8rem); }
%bodytext{ @include myfont($font-main, 1.6rem); }
%bodytext{ @include myfont($font-main, 1.6rem); }

/* TAG SETTINGS */
body { @extend %bodytext;}

.menu {
  background-color: $color-gray3;
  opacity: .9;
  &_logo-image {
    padding: 15px;
    width: 150px;
  }
  &_navbar {
    font-size: 1.4rem;
    font-family: '', sans-serif;
    @extend %white;
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  }
  &_link {

  }
}

.headlines {
  @extend %title;
  &_title {
    // @extend %white;
  }
  &_subtitle {

  }
}
