/* VAR */
$font-main: 'Akkurat Regular', sans-serif;

/* COLOR PALETTE to EXTEND */
%white { color:$color-white;}
%black { color:$color-black;}
%gray { color:$color-gray;}
%gray2 { color:$color-gray2;}
%gray3 { color:$color-gray3;}

/* STYLES to EXTEND */
%bodytext{ @include myfont($font-main, 1.1rem); @extend %black;}
%title{ @include myfont($font-main, 4rem); @extend %black, %bold, %text-center;}

/* TAG SETTINGS */
.homepage { @extend %bodytext;}
.test2 {
  &__title { @extend %title;}
}

/* MEDIA DESKTOP (1280px) */
@media screen and (min-width:$desktop){
  .test2 {
    &__title {font-size: 12rem;}
  }
}
