.contact-us {
  padding: 69px 20px 50px;
  background-color: $color-gray3;
  @media screen and (min-width:$desktop){
    padding-top: 120px;
  }
  &_title {
    @extend %title-style1, %text-center;
  }
  &_subtitle {
    @extend %title-style2, %text-center, %white;
    margin-bottom: 10px;
  }
  &_form {
    @extend %w100;
    @include flex($d:row, $w:wrap, $j-c:space-between, $a-i:stretch);
  }
  &_label {
    @extend %hide;
  }
  &_input-container {
    width: 100%;
  }
  &_input-container--half {
    @media screen and (min-width:$tablet){
      width: calc(50% - 7px);
    }
  }
  &_input {
    @extend %w100;
    height: 60px;
    margin-bottom: 15px;
    &::placeholder {
      @extend %fontmain-bold;
      font-size: 1.4rem;
      padding-left: 15px;
      color: $color-gray;
      opacity: .5;
    }
    @media screen and (min-width:$tablet){
      height: 50px;
    }
  }
  &_message {
    @extend %w100;
    height: 130px;
    margin-bottom: 30px;
    &::placeholder {
      @extend %fontmain-bold;
      font-size: 1.4rem;
      padding-top: 2rem;
      padding-left: 15px;
      color: $color-gray;
      opacity: .5;
    }
  }
  &_btn-submit {
    @extend %btn2;
    font-size: 1.4rem;
    width: 100%;
    height: 50px;
  }
}

.flickr {
  padding: 70px 15px 80px;
  &_title {
    @extend %title-style2, %text-center;
  }
}

.findUs {
  padding-bottom: 80px;
  &_title {
    @extend %title-style2, %text-center;
  }
  &_gmap {
    height: 400px;
    width: 100%;
  }
}
