.header-hero {
  background: url('../img/Orison-Hero-5.jpg') center;
  background-size: cover;
  height: 460px;
  @include flex($d:column, $w:nowrap, $j-c:center, $a-i:stretch);
}
.headlines {
  width: 350px;
  margin-left: 20px;
}
.our-process {
  @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  background-color: $color-gray4;
  padding: 60px 0;
  &_bodytext {
    margin: 15px 20px 80px;
  }
  &_video {
    @extend .wrapper;
    width: 95%;
  }
}
.featured-products {
  padding: 60px 20px 10px;
  background-color: $color-gray3;
  .wrapper {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  }
}
.product {
  @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  &_picture {
    &[alt="The free-standing towers"] {
      order:1;
      width: 220px;
      margin-bottom: 50px;
    }
    &[alt="The Orison Panel"] {
      order:1;
      width: 100%;
    }
  }
  &-description {
    &--first {
      order: 0;
    }
    &--second {
      order: 2;
    }
  }
}
.whyUs {
  padding: 50px 40px;
  .wrapper {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:stretch);
  }
  &-reason {
    &:first-of-type::before {
      @extend %icon-before-center;
      background: url('../img/icon-app-control.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(2)::before {
      @extend %icon-before-center;
      background: url('../img/icon-easy-install.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(3)::before {
      @extend %icon-before-center;
      background: url('../img/icon-security.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(5)::before {
      @extend %icon-before-center;
      background: url('../img/icon-personalized.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(4)::before {
      @extend %icon-before-center;
      background: url('../img/icon-lower-bills-1.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(6)::before {
      @extend %icon-before-center;
      background: url('../img/icon-healthy-planet.png') no-repeat center;
      background-size: contain;
    }
  }
}
.articles {
  background-color: $color-gray4;
  .article {
    &--first { order: 0; }
    &--second { order: 2; }
    padding: 50px 40px;
    &_btn-more {
      padding: 10px;
    }
  }
  &_illustration {
    margin: 0;
    &--first { order: 1; }
    &--second { order: 0; }
    &-image {
      width: 100%;
    }
  }
}
.cta {
  background-color: $color-gray3;
  padding: 50px 40px;
  @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  &_illustration {
    &-image {
      width: 100%;
    }
  }
}
.compliments {
  background-color: $color-gray2;
  padding: 50px 20px;
  &_container {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  }
  .compliment {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
    &_media-logo {
      width: 180px;
      margin-bottom: 40px;
    }
  }
  .other-medias_logo {
    padding-top: 50px;
    width: 100%;
  }
}
