.homepage {
  overflow-x: hidden;
}

.header-hero {
  background: url('../img/Orison-Hero-5.jpg') center;
  background-size: cover;
  height: 460px;
  @media screen and (min-width:$desktop){
    height: 720px;
  }
  &>.wrapper {
    @include flex($d:row, $w:nowrap, $j-c:flex-start, $a-i:center);
    height: 100%;
  }
}
.headlines {
  margin-top: auto;
  margin-bottom: auto;
  width: 350px;
  margin-left: 30px;
}
.our-process {
  position: relative;
  @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  background-color: $color-gray4;
  padding: 60px 0;
  &_bodytext {
    margin: 15px 20px 80px;
    transition: all .5s ease-in-out;
    @media screen and (min-width:$desktop){
      width: 620px;
    }
    width: 620px;

  }
  &_video {
    @extend .wrapper;
    width: 95%;
    z-index: 1;
  }
  &_box {
    position: absolute;
    display: none;
    @media screen and (min-width:$desktop){
      background-color: $color-gray3;
      z-index: 0;
      display: block;
      height: 350px;
      width: 100%;
      bottom: 0;
    }
  }
}
.featured-products {
  padding: 60px 20px 10px;
  background-color: $color-gray3;
  .wrapper {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  }
}
.product {
  @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  @media screen and (min-width:$desktop){
    flex-direction: row;
  }
  &_picture {
    &[alt="The free-standing towers"] {
      order:1;
      width: 220px;
      margin-bottom: 50px;
    }
    &[alt="The Orison Panel"] {
      order:1;
      width: 100%;
    }
    @media screen and (min-width:$desktop){
      &[alt="The free-standing towers"] {
        width: 220px;
      }
      &[alt="The Orison Panel"] {
        width: 50%;
        margin-left: -50px;
      }
    }
  }
  &-description {
    &--first {
      order: 0;
    }
    &--second {
      order: 2;
      @media screen and (min-width:$desktop){
        padding-left: 50px;
      }
    }
    @media screen and (min-width:$desktop){
      width: 50%;
      &_description {
        width: 70%;
      }
    }
  }
}
.whyUs {
  padding: 50px 40px;
  .wrapper {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:stretch);
  }
  &-reason {
    &:first-of-type::before {
      @extend %icon-before-center;
      background: url('../img/icon-app-control.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(2)::before {
      @extend %icon-before-center;
      background: url('../img/icon-easy-install.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(3)::before {
      @extend %icon-before-center;
      background: url('../img/icon-security.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(5)::before {
      @extend %icon-before-center;
      background: url('../img/icon-personalized.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(4)::before {
      @extend %icon-before-center;
      background: url('../img/icon-lower-bills-1.png') no-repeat center;
      background-size: contain;
    }
    &:nth-of-type(6)::before {
      @extend %icon-before-center;
      background: url('../img/icon-healthy-planet.png') no-repeat center;
      background-size: contain;
    }
  }
}
.articles {
  background-color: $color-gray4;
  .article {
    &--first { order: 0; }
    &--second { order: 2; }
    padding: 50px 40px;
    &_btn-more {
      padding: 10px;
    }
    @media screen and (min-width:$desktop){
      width: 50%;
      height: calc(50vw / 15 * 10);
      @include flex($d:column, $w:nowrap, $j-c:center, $a-i:stretch);
      align-content: center;
      padding: 100px;
    }
  }
  &_illustration {
    margin: 0;
    &--first { order: 1; }
    &--second { order: 0; }
    &-image {
      width: 100%;
    }
  }
  @media screen and (min-width:$desktop){
    @include flex($d:row, $w:wrap, $j-c:flex-start, $a-i:stretch);
    &_illustration {
      display: block;
      width: 50%;
      &-image {
        height: 100%;
      }
    }
  }
}
.cta {
  background-color: $color-gray3;
  padding: 50px 40px;
  @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
  &_illustration {
    &-image {
      width: 100%;
    }
  }
}
.compliments {
  background-color: $color-gray2;
  padding: 50px 20px;
  @media screen and (min-width:$desktop){
    padding: 100px 20px;
  }
  &_container {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
    @media screen and (min-width:$desktop){
      flex-direction: row;
      justify-content: space-around;
    }
  }
  .compliment {
    @include flex($d:column, $w:nowrap, $j-c:flex-start, $a-i:center);
    &_media-logo {
      width: 180px;
      margin-bottom: 40px;
    }
    @media screen and (min-width:$desktop){
      width: 30%;
    }
  }
  .other-medias_logo {
    padding-top: 50px;
    width: 100%;
  }
}
